<div class="bg-pink">
  <div class="row">
    <div class="col-9 m-2">
        <%= link_to "Home", root_path %> >
        Designs All
    </div>
    <% if user_signed_in? %>
    <div class="float-right m-1">
      <%= form_with url:designs_path, method: :get do |f| %>
      <%= f.text_field :name, placeholder: "デザイン検索"%>
      <%= f.submit '検索' %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="h3">Designs All</div>
      </div>
      <div class="row">
        <% @designs.each do |design| %>
        <div class="col-3 my-5">
          <%= link_to design_path(design.id), class: "design-link" do %>
            <%= image_tag design.image.variant(resize: '200x200') %>
          <% end %>
          <div class="col font-weight-bold">
            <%= design.name %>
          </div>
          <div class="col">
            <i class="fa-regular fa-user"></i>
            <%= link_to users_mypage_path(design.user.id), class: "user_design-link" do %>
              <%= design.user.name %>
            <% end %>
          </div>
          <div class="col">
            <i class="fa-solid fa-palette"></i>
            <%= design.color.name %>
          </div>
          <div class="col">
            <i class="fa-solid fa-heart"></i>
            <%= design.favorites.count %>
            <i class="fa-regular fa-comment"></i>
            <%= design.comments.count + design.comments.map { |comment| comment.replies.count }.sum %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-3">
      <%= render 'rankings', design_ranks: @design_ranks %>
    </div>
    <div class="col m-3">
      <%= paginate @designs %>
    </div>
  </div>
</div>