<div class="container-fluid bg-pink">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 my-3">
      <%= link_to "Home", root_path %> >
      New Post
    </div>
  </div>
</div>
<%= render "public/shared/error_messages", resource: @design %>
<%= form_with model: @design, url: designs_path do |f| %>
<div class="container">
  <div class="row">
    <div class="h3 col-lg-10 col-sm-12">New Post</div>
  </div>
  <div class="row">
    <div class="h4">title</div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mb-2 py-2">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="h4">image</div>
  </div>
  <div class="rowr">
    <div class="col-lg-6 col-sm-12 mb-2 py-2">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>

  <div class="row">
    <div class="h4">introduction</div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mb-2 py-2">
      <%= f.text_area :introduction, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="h4">color</div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mb-2 py-2">
      <%= f.collection_select(:color_id, Color.all, :id, :name,{selected: Color.find_by_name("その他").id},{}) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12 m-2">
      <%= f.submit "公開", name: "public", class: "btn btn-outline-success btn-block" %>
    </div>
    <div class="col-lg-3 col-sm-12 m-2">
      <%= f.submit "下書き保存", name: "private", class: "btn btn-outline-secondary btn-block" %>
    </div>
  </div>
<% end %>
</div>