<div class="container-fluid bg-pink">
  <div class="row">
    <div class="col-12 my-3">
      <%= link_to "Home", root_path %> >
      <%= link_to "Designs All", designs_path %> ><br class="d-sm-none">
      <%= @design.name %>
    </div>
  </div>
</div>
<%= render "public/shared/flash", flash_message: flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="h3 col-lg-10 col-sm-12"><%= @design.name %></div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12 m-2">
      <%= link_to "Designs All >>", designs_path, class: "btn btn-outline-primary btn-block" %>
    </div>
    <% if @design.user_id !=  current_user.id %>
     <div class="col-lg-3 col-sm-12 m-2">
       <%= link_to "User's Dsign All", users_designs_path(@design.user_id), class: "btn btn-outline-primary btn-block" %>
     </div>
    <% elsif @design.user_id == current_user.id %>
      <div class="col-lg-3 col-sm-12 m-2">
        <%= link_to "All My Designs >>", users_designs_path(@design.user_id), class: "btn btn-outline-primary btn-block" %>
      </div>
      <div class="col-lg-3 col-sm-12 m-2">
        <%= link_to "デザイン編集 >>", edit_design_path, class: "btn btn-outline-success btn-block" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="design-grpup col-lg-7 col-sm-12 m-2">
      <div class="col-lg-6 col-sm-12 text-center my-2">
        <%= image_tag @design.image.variant(resize: '400x400') %>
      </div>
      <div class="col-12 m-1">
        <div class="fa-solid fa-calendar-days">
          <%= @design.created_at.strftime('%Y/%m/%d')  %>
        </div>
      </div>
      <div class="col-12 m-1 font-weight-bold">
        <i class="fa-regular fa-user"></i>
        <%= @design.user.name %>
      </div>
      <div class="col-12 m-1">
        <i class="fa-regular fa-file-lines"></i>
        <%= simple_format(@design.introduction, sanitize: true) %>
      </div>
      <div class="col-12 m-1">
        <i class="fa-solid fa-palette"></i>
        <%= @design.color.name %>
      </div>
      <% if @design.user_id == current_user.id %>
      <div class="col-12 m-1">
        <% if @design.is_active %>
          <i class="fa-solid fa-unlock"></i>
          <span class="font-weight-bold text-success">公開</span>
        <% else %>
          <i class="fa-solid fa-lock"></i>
          <span class="font-weight-bold text-secondary">非公開</span>
        <% end %>
      </div>
      <% end %>
      <div class="col-12 m-1">
        <% if @design.user_id != current_user.id %>
          <i class="fa-solid fa-triangle-exclamation"></i>
          <%= link_to "報告", new_design_report_path(@design, content_id: @design.id, type: "design"), class: "text-danger"%>
      　<% end %>
      </div>
    </div>

    <div class="content-grpup col-lg-4 col-sm-12 m-1">
      <div class="row" id="favorite_btn_<%= @design.id %>">
        <%= render 'public/favorites/favorites', design: @design %>
      </div>
      <div class="row">
        <div class="col-12 m-1">
          <div class="text-primary" type="button" data-toggle="collapse" data-target="#commentForm">
            コメント
            <i class="fa-regular fa-comment"></i>
            <span id="total_comment">
              <%= @total_comment %>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-1">
          <div id="commentForm" class="collapse">
            <%= form_with model: @comment, url: design_comments_path(@design), local: false do |f| %>
              <%= f.text_area :content, placeholder: "コメント", class: "form-control" %>
              <%= f.submit "コメント" %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="comments_btn_<%= @design.id %>">
        <%= render 'public/comments/index', comments: @comments %>
      </div>
    </div>
  </div>
</div>
