<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render "admin/shared/error_messages", resource: resource %>
<div class="container">
  <div class="row">
    <div class="h3">Admin Sign in</div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-2 m-2"><%= f.label :"mail address" %></div>
    <div class="col-6 m-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-2 m-2">
      <%= f.label :"password" %>
    </div>
    <div class="col-6 m-2">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-4 m-3">
     <%= f.submit "LOG IN", class: "btn btn-outline-primary btn-block" %>
    </div>
  </div>

  <% end %>
</div>



