<%= render "public/shared/flash", flash_message: flash[:notice_comment] %>
<% comments.each do |comment| %>
  <div class="col-12 m-1 border border-2">
    <div class="col-12 small">
      <%= comment.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col-12 font-weight-bold">
      <i class="fa-regular fa-user"></i>
      <%= comment.user.name %>
    </div>
    <div class="col-12 mx-1">
      <i class="fa-regular fa-comment"></i>
      <%= comment.content %>
    </div>
    <div class="col-12 m-1">
      <div class="row">
        <% if comment.user == current_user %>
          <div class="col-3">
            <div class="text-success" type="button" data-toggle="collapse" data-target="#editForm-<%= comment.id %>">
              編集
            </div>
          </div>
          <div class="col-3">
            <%= link_to "削除", design_comment_destroy_path(@design, comment_id: comment), method: :delete, class: "text-secondary", data: { confirm: '本当に削除しますか？' }, remote: true %>
          </div>
        <% end %>
        <% if comment.user_id != current_user.id %>
          <i class="fa-solid fa-triangle-exclamation"></i>
          <%= link_to "報告", new_design_report_path(@design, content_id: comment.id, type: "comment"), class: "text-danger" %>
        <% end %>
        <div id="reply_count_<%= comment.id %>" class="col-12 m-1">
          <%= render 'public/replies/reply_count', comment: comment %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div id="editForm-<%= comment.id %>" class="collapse">
            <%= form_with model: comment, url: design_comment_update_path(@design), method: :patch, local: false do |f| %>
              <%= f.text_area :content, placeholder: "編集",  class: "form-control" %>
              <%= f.hidden_field :id, value: comment.id %>
              <%= f.submit "編集" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="replies_btn_<%= comment.id %>">
   <%= render 'public/replies/index', comment: comment %>
  </div>
<% end %>
<%= paginate comments %>