<div class="bg-pink pl-3">
  <div class="row">
    <div class="col m-2">
        Home
    </div>
  </div>
</div>
<%= render "public/shared/flash", flash_message: flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="h3">
      ようこそ、ShareMyNailへ
    </div>
  </div>
  <div class="row">
    <div class="col p-2">
      <span class="h5">ShareMyNail</span>は<br>
      セルフネイラーのためのデザイン検索サイトです。<br>
      お気に入りのデザインを見つけたり<br>
      あなたの素敵なネイルをシェアしてください♪
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="h4 my-1">New Design</div>
      </div>
      <div class="row">
        <% @designs.each do |design| %>
        <div class="col-4 my-2">
          <%= link_to design_path(design.id), class: "design-link" do %>
            <%= image_tag design.image.variant(resize: '250x250') %>
          <% end %>
          <div class="col font-weight-bold">
            <%= design.name %>
          </div>
          <div class="col">
            <i class="fa-regular fa-user"></i>
            <%= link_to users_designs_path(design.user.id), class: "user_design-link" do %>
              <%= design.user.name %>
            <% end %>
          </div>
          <div class="col">
            <i class="fa-solid fa-heart"></i>
            <%= design.favorites.count %>
            <i class="fa-regular fa-comment"></i>
            <%= design.comments.count + design.comments.map { |comment| comment.replies.count }.sum %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-3 my-2">
          <%= link_to "デザインを探す", designs_path, class: "btn btn-outline-primary btn-block" %>
        </div>
        <div class="col-3 my-2">
          <%= link_to "デザインを投稿する", new_design_path, class: 'btn btn-outline-primary btn-block' %>
        </div>
      </div>
    </div>
    <div class="col-3">
      <%=render 'public/designs/rankings', design_ranks: @design_ranks %>
    </div>
  </div>
</div>