<div class="bg-pink pl-3">
Home
</div>
<div class="container">
  <div class="row">
    <div class="h3">Master top</div>
  </div>
  <div class="row">
    <div class="h4">New Design</div>
  </div>
  <div class="row">
    <% @designs.each do |design| %>
    <div class="col-3 my-3">
      <%= link_to admin_design_path(design.id), class: "design-link" do %>
        <%= image_tag design.image, width: "70%", height: "70%" %>
      <% end %>
      <div class="my-1">
        <%= design.name %>
      </div>
      <div class="my-1">
        <%= design.user.name %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3 my-3">
      <%= link_to "Designs All", admin_designs_path, class: "btn btn-outline-primary btn-block" %>
    </div>
  </div>
  <div class="row">
    <div class="h4">New Report</div>
  </div>
  <div class="row">
    <% @reports.each do |report| %>
    <% if is_task_link(report) %>
      <div class="col-3 my-3">
        <div class="col m-1">報告日*　<%= report.created_at.strftime('%Y/%m/%d') %></div>
        <div class="col m-1">報告箇所*<%= target_link(report) %></div>
        <div class="col m-1">報告者*　<%= report.user.name %></div>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3 my-3">
      <%= link_to "Report All", admin_reports_path, class: "btn btn-outline-primary btn-block" %>
    </div>
  </div>
  <div class="row">
    <div class="h4">New Comment</div>
  </div>
</div>

