<div class="bg-pink pl-3">
  <div class="row">
    <div class="col m-2">
      <%= link_to "Home", admin_top_path %> >
      <%= link_to "Reports All", admin_reports_path %> >
      <% if @report.design.present? %>
      Report Design
      <% elsif @report.comment.present? %>
      Report Comment
      <% else %>
      Report Rply
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="h3">報告内容</div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="h4">報告日</div>
      <div class="col mb-5">
        <i class="fa-solid fa-calendar-days"></i>
        <%= @report.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
    <div class="col-7">
      <div class="h4">報告内容</div>
      <div class="col mb-5">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <%= @report.introduction %>
      </div>
    </div>
    <div class="col-2">
      <div class="h4">報告者</div>
      <div class="col mb-5">
        <i class="fa-regular fa-user"></i>
        <%= @report.user.name %>
      </div>
    </div>
  </div>
    <% if @report.design.present? %>
    <div class="row">
      <div class="h5">
        <%= @report.design.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-7 my-5">
        <%= image_tag @report.design.image.variant(resize: '400x400') %>
        <div class="col my-1 font-weight-bold">
          <i class="fa-regular fa-user"></i>
          <%= @report.design.user.name %>
        </div>
        <div class="col m-1">
          <i class="fa-regular fa-file-lines"></i>
          <%= @report.design.introduction %>
        </div>
        <div class="col m-1">
          <i class="fa-solid fa-palette"></i>
          <%= @report.design.color.name %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 my-3">
        <%= link_to "対応済", admin_designs_reports_path(@report.id),method: :put, class: "btn btn-outline-success btn-block" %>
      </div>
      <div class="col-5 my-3">
        <%= link_to "削除", admin_design_destroy_path(@report.design.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
      </div>
    </div>
    <% elsif @report.comment.present? %>
    <div class="row">
      <div class="h5">コメント</div>
    </div>
    <div class="row">
      <div class="col-7 my-3">
        <div class="col my-3 font-weight-bold">
          <i class="fa-regular fa-user"></i>
          <%= @report.comment.user.name %>
        </div>
        <div class="col my-3 font-weight-bold">
          <i class="fa-regular fa-comment"></i>
          <%= @report.comment.content %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 my-3">
        <%= link_to "対応済", admin_designs_reports_path(@report.id),method: :put,class: "btn btn-outline-success btn-block" %>
      </div>
      <div class="col-5 my-3">
        <%= link_to "削除する", admin_comments_destroy_path(@report.comment.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
      </div>
    </div>
    <% elsif @report.reply.present? %>
    <div class="row">
      <div class="h5">コメント返信</div>
    </div>
    <div class="row">
      <div class="col-7 my-3">
        <div class="col my-3 font-weight-bold">
          <i class="fa-regular fa-user"></i>
          <%= @report.reply.user.name %>
        </div>
        <div class="col my-3 font-weight-bold">
          <i class="fa-regular fa-comment"></i>
          <%= @report.reply.content %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 my-3">
        <%= link_to "対応済", admin_designs_reports_path(@report.id),method: :put, class: "btn btn-outline-success btn-block" %>
      </div>
      <div class="col-5 my-3">
        <%= link_to "削除する", admin_comment_reply_path(@report.reply.id), method: :delete, class: "btn btn-outline-danger btn-block" %>
      </div>
    </div>
    <% end %>
</div>