<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render "public/shared/error_messages", resource: resource %>
<div class="container">
  <div class="row">
    <div class="h3">Sign in</div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-2 m-2"><%= f.label :"mail address" %></div>
    <div class="col-6 m-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-2 m-2"><%= f.label :"password" %></div>
    <div class="col-6 m-2">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <% if devise_mapping.rememberable? %>
      <div class="col-4 m-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-4 m-3">
      <%= f.submit "Sign in", class: "btn btn-outline-success btn-block" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <%= render "public/shared/links" %>
  </div>
  <% end %>
</div>


