<div class="container-fluid bg-pink">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 my-3">
      <%= link_to "Home", root_path %> >
      <%= link_to "My Page", users_mypage_path(@user.id)  %> ><br class="d-sm-none">
      Comments All
    </div>
  </div>
</div>
<%= render "public/shared/flash", flash_message: flash[:notice_comment] %>
<div class="container">
  <div class="row">
    <div class="h3 col-lg-10 col-sm-12">Comments All</div>
  </div>
  <div class="row">
    <% @array.each do |comment| %>
    <% if comment.instance_of?(Comment) %>
    <div class="col-lg-10 col-sm-12 center-block mb-3 border border-2">
      <i class="fa-solid fa-calendar-days"></i>
      <div class="col-12 small"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 m-2 font-weight-bold">
          <i class="fa-regular fa-file-lines"></i>
          <%= link_to designs_show_path(comment.design.id), class: "design-link" do %>
            <%= comment.design.name %>
          <% end %>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 m-2">
          <i class="fa-regular fa-user"></i>
          <%= comment.design.user.name %>
        </div>
      </div>
      <div class="col-12 m-2">
        <i class="fa-regular fa-comment"></i>
        <%= comment.content %>
      </div>
      <div class="row">
        <div class="col-lg-9 m-1 text-right">
          <div class="text-success" type="button" data-toggle="collapse" data-target="#editForm-<%= comment.id %>">
            <i class="fa-regular fa-comment"></i>
            コメント編集
          </div>
          <div id="editForm-<%= comment.id %>" class="collapse">
            <%= form_with model: comment, url: comments_update_path(comment) do |f| %>
              <%= f.text_area :content, placeholder: "編集",  class: "form-control" %>
              <%= f.submit "編集" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-2 m-1 text-right">
          <%= link_to "コメント削除", comments_destroy_path(comment), method: :delete, class: "text-danger", data: { confirm: '本当に削除しますか？' } %>
        </div>
      </div>
    </div>
    <% else %>
    <% reply = comment %>
    <div class="col-lg-10 col-sm-12 center-block mb-3 border border-2">
      <i class="fa-solid fa-calendar-days"></i>
      <div class="col small"><%= reply.created_at.strftime('%Y/%m/%d') %></div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 m-2 font-weight-bold">
          <i class="fa-regular fa-file-lines"></i>
          <%= link_to design_path(reply.comment.design.id), class: "design-link" do %>
            <%= reply.comment.design.name %>
          <% end %>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 m-2">
          <i class="fa-regular fa-user"></i>
          <%= reply.comment.design.user.name %>
        </div>
      </div>
      <div class="col-12 m-2">
        <i class="fa-solid fa-comment"></i>
        <%= reply.content %>
      </div>
      <div class="row">
        <div class="col-lg-9 m-1 text-right">
          <div class="text-success" type="button" data-toggle="collapse" data-target="#editForm-<%= reply.id %>">
            <i class="fa-solid fa-comment"></i>
            コメント編集
          </div>
          <div id="editForm-<%= reply.id %>" class="collapse">
            <%= form_with model: reply, url: replies_update_path(reply) do |f| %>
              <%= f.text_area :content, placeholder: "編集",  class: "form-control" %>
              <%= f.submit "編集" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-2 m-1 text-right">
          <%= link_to "コメント削除", replies_destroy_path(comment), method: :delete, class: "text-danger", data: { confirm: '本当に削除しますか？' } %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
  </div>
  <%= paginate @array %>
</div>