<div class="bg-pink pl-3">
  <%= link_to "Home", root_path %> > My Page
</div>
<div class="container">
  <div class="row">
    <div class="h3">My Page</div>
  </div>
  <div class="row">
    <div class="h4">Profile</div>
  </div>
  <div class="row">
    <div class="col-2 mb-2 py-2 font-weight-bold">use name</div>
    <div class="col-4 mb-2 py-2 border rounded">
      <%= @user.name %>
    </div>
    <div class="col-2 mb-2 py-2 font-weight-bold">mail address</div>
    <div class="col-4 mb-2 py-2 border rounded">
      <%= @user.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-2 py-3 font-weight-bold">Introduction</div>
    <div class="col-6 mb-2 py-3 border rounded">
      <%= @user.introduction %>
    </div>
  </div>
    <div class="row">
      <div class="col-3 my-2">
        <%= link_to "Edit Profile >>", users_mypage_edit_path, class: "btn btn-outline-primary btn-block" %>
      </div>
    </div>
  <div class="row">
    <div class="h4">My Design</div>
  </div>
  <div class="row">
    <% @designs.each do |design| %>
    <div class="col-3 m-2">
      <%= image_tag design.image %><br>
      <%= design.name %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3 my-2">
      <%= link_to "All My Design >>", users_designs_path, class: "btn btn-outline-primary btn-block" %>
    </div>
    <div class="col-3 my-2">
      <%= link_to "*修正予定Favorite Design >>", users_designs_path, class: "btn btn-outline-primary btn-block" %>
    </div>
    <div class="col-3 my-2">
      <%= link_to "All My Comment >>", users_comments_path, class: "btn btn-outline-primary btn-block" %>
    </div>
    <div class="col-3 my-2">
      <%= link_to "New Design >>", new_design_path, class: "btn btn-outline-primary btn-block" %>
    </div>
  </div>
</div>