<div class="container-fluid bg-pink">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 my-3">
      <%= link_to "Home", root_path %> >
      <% if @user == current_user %>
        My Page
      <% else %>
        User's Profole
      <% end %>
    </div>
  </div>
</div>
<%= render "public/shared/flash", flash_message: flash[:notice] %>
<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <div class="h3 col-lg-10 col-sm-12">My Page</div>
    <% else %>
      <div class="h3 col-lg-10 col-sm-12">User's Profole</div>
    <% end %>
  </div>
  <div class="row">
    <div class="h4">Profile</div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 py-2 font-weight-bold">
      <i class="fa-regular fa-user"></i>
      use name
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 mb-2 py-2 border rounded">
      <%= @user.name %>
    </div>
    <% if @user == current_user %>
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 py-2 font-weight-bold">
      <i class="fa-regular fa-envelope"></i>
      mail address
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 mb-2 py-2 border rounded">
      <%= @user.email %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12 mb-2 py-2 font-weight-bold">
      <i class="fa-regular fa-file-lines"></i>
      Introduction
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12 mb-2 py-2 border rounded">
      <%= @user.introduction %>
    </div>
  </div>
  <% if @user == current_user %>
    <div class="row">
      <div class="col-lg-3 col-sm-12 m-2">
        <%= link_to "プロフィール編集 >>", users_mypage_edit_path, class: "btn btn-outline-primary btn-block" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="h4">My Designs</div>
  </div>
  <div class="row">
    <% @designs.each do |design| %>
    <div class="col-lg-3 col-md-6 col-sm-12 my-4">
      <%= link_to designs_show_path(design.id), class: "design-link" do %>
        <%= image_tag design.image.variant(resize: '200x200') %>
      <% end %>
      <div class="col-12 font-weight-bold">
        <%= design.name %>
      </div>
      <div class="col-12">
        <i class="fa-solid fa-heart"></i>
        <%= design.favorites.count %>
        <i class="fa-regular fa-comment"></i>
        <%= design.comments.count %>
      </div>
      <div class="col-12">
        <% if @user == current_user %>
          <% if design.is_active %>
            <i class="fa-solid fa-unlock"></i>
            <span class="font-weight-bold text-success">公開</span>
          <% else %>
            <i class="fa-solid fa-lock"></i>
            <span class="font-weight-bold text-secondary">非公開</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12 m-2">
      <% if @user == current_user %>
        <%= link_to "My Designs All >>", users_designs_path(@user.id), class: "btn btn-outline-primary btn-block" %>
      <% else %>
        <%= link_to "User's Designs All >>", users_designs_path(@user.id), class: "btn btn-outline-primary btn-block" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="h4">Favorite Designs</div>
  </div>
  <div class="row">
  <% @favorites.each do |favorites| %>
  <% if favorites.design.is_active == true %>
    <div class="col-lg-3 col-md-6 col-sm-12 my-4">
    <%= link_to designs_show_path(favorites.design.id), class: "design-link" do %>
      <%= image_tag favorites.design.image.variant(resize: '200x200') %>
    <% end %>
    <div class="col-12 font-weight-bold">
      <%= favorites.design.name %>
    </div>
    <div class="col-12">
      <i class="fa-regular fa-user"></i>
        <%= link_to users_mypage_path(favorites.design.user.id), class: "user_design-link" do %>
          <%= favorites.design.user.name %>
        <% end %>
    </div>
    <div class="col-12">
      <i class="fa-solid fa-palette"></i>
      <%= favorites.design.color.name %>
    </div>
    <div class="col-12">
      <i class="fa-solid fa-heart"></i>
      <%= favorites.design.favorites.count %>
      <i class="fa-regular fa-comment"></i>
      <%= favorites.design.comments.count %>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12 m-2">
      <% if @user == current_user %>
        <%= link_to "My Favorite Designs >>", favorites_path(@user.id), class: "btn btn-outline-primary btn-block" %>
      <% else %>
        <%= link_to "Favorite Designs >>", favorites_path(@user.id), class: "btn btn-outline-primary btn-block" %>
      <% end %>
    </div>
    <% if @user == current_user %>
      <div class="col-lg-3 col-sm-12 m-2">
        <%= link_to "Comments All >>", users_comments_path, class: "btn btn-outline-primary btn-block" %>
      </div>
      <div class="col-lg-3 col-sm-12 m-2">
        <%= link_to "New Post >>", new_design_path, class: "btn btn-outline-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>