<!DOCTYPE html>
<html>
  <head>
    <title>ShareMyNail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/25d0d63a22.js" crossorigin="anonymous"></script>
　　<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <hader>
      <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark p-1">
        <div class="h2">
          <%= link_to "ShareMyNail", root_path %>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav item">
            <%= link_to "About", about_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "My Page", users_mypage_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "New Post", new_design_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Designs ALL", designs_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
          <% elsif admin_signed_in? %>
          <li class="nav item">
            <%= link_to "Designs ALL", admin_designs_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Users All", admin_users_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Reports All", admin_reports_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Colors All", admin_colors_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
          <% else %>
          <li class="nav item">
            <%= link_to "About", about_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Designs ALL", designs_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Sign In", user_session_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav item">
            <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link text-dark' %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
  </body>
</html>
